* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  padding: 40px 60px;
  min-height: 100vh;
}

section {
  margin: 20px 0;
  position: relative;

  h2 {
    font-weight: 800;
    margin-bottom: 10px;
  }
}

#input-container {
  text-align: center;
  position: relative;

  input {
    font-size: 2em;
    width: calc(max(50vw, 200px));
    padding: 2px 5px;
    font-family: inherit;
  }
}
