* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    padding: 40px 60px;
    min-height: 100vh;
    background-color: #181a1b;
    color: rgb(232, 230, 227);
}

section {
    margin: 50px 0;
    position: relative;

    h2 {
        font-weight: 800;
        margin-bottom: 10px;
        padding: 10px 0;
        font-size: 1.2em;
        margin-left: 25px;
    }
}

#input-container {
    text-align: center;
    position: relative;

    input {
        font-size: 2em;
        width: calc(max(50vw, 200px));
        padding: 2px 5px;
        font-family: inherit;

        color: inherit;
        background-color: rgb(24, 26, 27);
        border: 1px solid #7d858d;

        &:invalid {
            border-color: red;
        }
    }
}

// don't make fun of me for my class names
section.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-item {
    .title {
        opacity: 0.8;
        font-size: 14px;
    }

    .content {
        font-size: 40px;
        margin: 10px 0px;
    }
}

canvas {
    width: 100%;
    aspect-ratio: 3;
}
