* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  padding: 40px 60px;
  min-height: 100vh;
}

section {
  margin: 20px 0;
  position: relative;

  h2 {
    font-weight: 800;
    margin-bottom: 10px;
  }
}

#input-container {
  text-align: center;
  position: relative;

  input {
    font-size: 2em;
    width: calc(max(50vw, 200px));
    padding: 2px 5px;
    font-family: inherit;
  }
}

// don't make fun of me for my class names
section.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-item {
  .title {
    opacity: 0.8;
    font-size: 14px;
  }

  .content {
    font-size: 40px;
    margin: 10px 0px;
  }
}
